@using Dublongold_site.Models
@using Dublongold_site.Useful_classes

@model List<Article>

@{
    bool is_user_article = false;
    if(ViewData["css_files"] is List<string> css_files)
    {
        css_files.Add("Article/article_preview.css");
    }
    if(ViewData["js_files"] is List<string> js_files)
    {
        js_files.Add("Article/actions_with_article_buttons_script.js");
    }
    using(Database_context db_context = new())
    {
        is_user_article = await Checking_authentic_user_or_not.Check(User, db_context);
    }
}
<div class = "preview-articles-container">
    @if (Model is not null && Model.Count > 0)
    {
        @foreach (Article article in Model)
        {
        <div class = "preview-article-container">
            <div class="preview-article-data-container">
                <div class = "article-title-image-container">
                    <a href="/article/read/@(article.Id)">
                        <img src="@(article.Title_image)" class="article-title-image"/>
                    </a>
                </div>
                <div class = "article-other-info-container">
                    <span style="font:blod">
                        <a href="/article/read/@(article.Id)">@article.Theme</a>
                    </span>
                    <span style="float: right;">Id:@article.Id</span>
                    <p style="margin-bottom:2px">@Html.Raw(article.Description)</p>
                    <button class = "article-open-button" article_id = "@article.Id">Відкрити</button>
                    <br />
                    <div class = "other-info-about-article-container">
                        Прочитало: @article.Users_who_have_read.Count
                        <br/>
                        Коментарів: @article.Comments.Count
                        <br/>
                        Сподобалось: @article.Users_who_liked.Count, Не сподобалось: @article.Users_who_disliked.Count
                        <span style="float: right;">
                            Автор@(article.Authors.Count > 1 ? "и" : ""): @Html.Raw(article.Authors.Count > 0 ? article.Authors.Select(x => "<a href = \"/account/profile/" + x.Login + "\">@" + x.Login + "</a>").Aggregate((u1, u2) => u1 + ", " + u2) : "Ніхто?").
                        </span>
                    </div>
                </div>
            </div>
            <div class="article-action-buttons">
                @if (is_user_article && article.Authors.Any(u => u.Login == User.Identity!.Name))
                {
                    <button class = "article-actions-button" article_id = "@article.Id">Дії</button>
                }
            </div>
        </div>
        }
        @if(ViewData["last-article-id"] is int last_id)
        {
            <button id="load_more_articles" last_article_id = "@last_id">Завантажити ще...</button>
        }
    }
    else
    {
        <text>Не знайдено жодної статті...</text>
    }
</div>